spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/online_banking
    username: bank_user
    password: strongpassword

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
